@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

@font-face {
  font-family: 'Reem Kufi';
  src: url('./lib/font-awesome/webfonts/ReemKufi-Regular.ttf') format('truetype');
}

:root {
  --primary: #a66370;
  --secondary: #7686a6;
  --white: #fff;
  --text:#131017;
}

body {
  font-family: "Reem Kufi";
  padding: 0;
  margin: 0;
  background-color: #E5E5E5;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.btn {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--text);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

.btn:hover {
  background-color: #1aa762;
  opacity: 1;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

/* Header Styles */
header {
  background-color: var(--primary);
}

header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header a {
  color: var(--white);
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

header a:hover {
  opacity: 0.7;
}

header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-links li:last-child {
  margin-right: 0;
}

/* Add Page */
.add-content {
  padding: 50px 0;
  max-width: 600px;
  margin: 0 auto;
}

.add-content .input-wrapper input {
  width: 100%;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  font-size: 1.25rem;
}

.results {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.results li {
  list-style: none;
}

.result-card {
  display: flex;
  margin-bottom: 20px;
}

.result-card .poster-wrapper img,
.filler-poster {
  width: 75px;
  height: 113px;
  background-color: #dbdada;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
}

.result-card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-card .info .title {
  font-size: 1.25rem;
  color: var(--primary);
  font-weight: 600;
  margin: 0;
}

.result-card .info .release-date {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--primary);
  margin: 0;
}

.result-card .controls button {
  margin-right: 10px;
}

/* Movie Page */
.movie-page {
  padding: 30px 0;
}

.movie-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.count-pill {
  display: block;
  background-color: var(--text);
  padding: 5px 15px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 999px;
  color: var(--primary);
}

.movie-page .heading {
  color: var(--primary);
  margin: 0;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media (min-width: 992px) {
  .movie-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.movie-card {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 0;
  display: block;
}

.movie-card img {
  width: 100%;
  display: block;
}

.movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.movie-card:hover .overlay {
  border: 3px solid var(--secondary);
}

.movie-card .inner-card-controls {
  display: inline;
  background-color: red;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 3px;
  opacity: 0;
  transition: all 0.3s ease;
}

.movie-card:hover .inner-card-controls {
  opacity: 1;
}

.ctrl-btn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 5px;
  margin: 0;
}

.ctrl-btn:hover {
  color: var(--secondary);
  cursor: pointer;
}

.movie-page .no-movies {
  color: #c4c4c4;
  font-size: 3rem;
  text-align: center;
}


/* MOVIE PAGE */

.mpage{

  display: flex;
  flex-direction: row;
  height:500px;
  width: 1200px;
}

.mpage_banner{
  width: 450px;
  height: 500px;
}

.mpage_info{
  position: relative;
  padding: 0px 40px;
  
}

.mpage_info-title{
  font-family: Reem Kufi;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
  text-align: center;
  margin-bottom: 15px;
}

.mpage_info-overview{
  font-family: Reem Kufi;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
}

.mpage_info-description{
  font-family: Reem Kufi;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  margin-bottom: 80px;
}

.mpage__info-misc{
  display: flex;
  justify-content: space-between;
  font-family: Reem Kufi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom:40px;
}

.back{
  font-family: Reem Kufi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #E38C8A;
  cursor: pointer;
  position: absolute;
  left:319px;

  height: 54px;
  width: 125px;
  border-radius: 50%;
  background-color:#131017;
}


 /*LOGIN PAGE */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(20px);
}

  .form {
    display: flex;
    max-width: 40rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px; }
    .form__headings {
      text-align: left;
      margin-bottom: 2.5px; }
    .form__button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid #C9C9C9;
      text-decoration: none;
      color: #626262;
      width: 400px;
      height: 50px;
      font-family: Inter;
      font-weight: bold;
      font-size: 18px;
      line-height: 2rem;
      transition: all .3s; }
      .form__button-image {
        max-width: 1.9rem;
        max-height: 10rem;
        margin-right: 1rem; }
      .form__button-hoverpurple:hover {
        background-color: #6552ff;
        color: #fff;
        transform: scale(1.05); }
    .form__or {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: -8px;
      margin-top: 10px; }
      .form__or-or {
        padding: 5px;
        font-size: 18px; }
      .form__or::before {
        background-color: #E9E9E9;
        content: "";
        width: 102px;
        border: 1px solid #C9C9C9; }
      .form__or::after {
        background-color: #E9E9E9;
        content: "";
        width: 102px;
        border: 1px solid #C9C9C9; }
    .form__group {
      display: flex;
      flex-direction: column;
      margin-bottom: 2px;
      margin-right: 40px;
      font-family: Inter;
      font-size: 18px;
      line-height: 3rem;
      position: relative; }
    .form__flexcontainer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end; 
      margin-bottom: 10px;}
    .form__checkbox{
      margin-right: 137px;
    }
    .form__input {
      border: 1px solid #C9C9C9;
      font-family: Inter;
      border-radius: 1rem;
      font-size: 18px;
      line-height: 22px;
      width: 400px;
      height: 2.8rem;
      padding: 1.8rem 1rem; }
    .form__eye {
      position: relative; }
    .form__reveal {
      cursor: pointer;
      position: absolute;
      top: 4.4rem;
      left: 22.8rem; }
    .form__submit {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 400px;
      height: 50px;
      color: #fff;
      background-color: #6552ff;
      border: 1px solid #E5E5E5;
      border-radius: 1rem;
      font-family: Inter;
      font-size: 18px;
      font-weight: 700;
      line-height: 2rem;
      padding: 1.8rem; 
      margin-right: 43px;}